<div class='logReg' >
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 divsLogin d-flex align-items-center ">
            <div class="login_btns ml-5">
               <a href="{{path('loginCanpage')}}">  <img src="{{ asset('images/profile-user.png')}}" alt="" class="svgs">Candidat</a>
            </div>
        </div>
        <div class="col-md-3 divsLogin d-flex align-items-center ">
            <div class="login_btns ml-5" id="recruteur">
                <a href="{{path('loginRecpage')}}"> <img src="{{ asset('images/teacher.png')}}" alt="" class="svgs"> Recruteur</a>
            </div>
        </div>
        <div class="col-md-3 divsLogin d-flex align-items-center ">
            <div class="login_btns ml-5 ">
                 <a href="{{path('loginForm')}}"><img src="{{ asset('images/recruitments.png')}}" alt="" class="svgs"> Formateur</a>
            </div>
        </div>
    </div>
</div>